<!-- <ion-header>
  <ion-toolbar>
    <ion-title>suthraya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let img of node" text-wrap>
      <img src="{{img.source}}">
    </ion-item>
  </ion-list>
</ion-content> -->

<!-- <div>
  <label>PDF src</label>
  <input type="text" placeholder="PDF src" [(ngModel)]="src">
</div>
<pdf-viewer [src]="src" [page]="page"
          [render-text]="true"
          style="display: block;"
></pdf-viewer> -->



<ion-content padding>
  <pdf-viewer 
  [src]="src" 
  [fit-to-page]="true" 
  [original-size]="true" 
  [show-all] = "false"
  [(page)]="pageVariable"
  ></pdf-viewer>
  <!-- <button mat-icon-button (click)="page()">next page</button> -->

  <ion-button *ngIf="!isPaali" expand="block" color="dark" size="large" (click)="paali()">Change to Paali</ion-button>
  <ion-button *ngIf="isPaali" expand="block" color="dark" size="large" (click)="sinhala()">Change to Sinhala</ion-button>
  <ion-button expand="block" color="dark" size="large" (click)="page()">Next Page</ion-button>

</ion-content>
